.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 620px;
}

.u-section-1 .u-layout-wrap-1 {
  min-height: 500px;
  margin: 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 500px;
  background-image: url("../images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-metadata-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 40px 20px 0 0;
}

.u-section-1 .u-metadata-2 {
  margin: 40px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-1 .u-metadata-1 {
    font-weight: normal;
  }

  .u-section-1 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-1 .u-metadata-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 445px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 261px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
  }
}
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 620px;
}

.u-section-2 .u-layout-wrap-1 {
  min-height: 500px;
  margin: 60px 0;
}

.u-section-2 .u-image-1 {
  min-height: 500px;
  background-image: url("../images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-2 .u-metadata-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 40px 20px 0 0;
}

.u-section-2 .u-metadata-2 {
  margin: 40px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-2 .u-metadata-1 {
    font-weight: normal;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-2 .u-metadata-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 445px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 405px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 261px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
  }
}
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 620px;
}

.u-section-3 .u-layout-wrap-1 {
  min-height: 500px;
  margin: 60px 0;
}

.u-section-3 .u-image-1 {
  min-height: 500px;
  background-image: url("../images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-metadata-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: 20px 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 40px 20px 0 0;
}

.u-section-3 .u-metadata-2 {
  margin: 40px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-3 .u-metadata-1 {
    font-weight: normal;
  }

  .u-section-3 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-3 .u-metadata-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 445px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 405px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 261px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 6px;
  }
}
.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 620px;
}

.u-section-4 .u-layout-wrap-1 {
  min-height: 500px;
  margin: 60px 0;
}

.u-section-4 .u-image-1 {
  min-height: 500px;
  background-image: url("../images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-4 .u-metadata-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  margin: 20px 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 40px 20px 0 0;
}

.u-section-4 .u-metadata-2 {
  margin: 40px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-4 .u-metadata-1 {
    font-weight: normal;
  }

  .u-section-4 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-4 .u-metadata-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 445px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 405px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 261px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 6px;
  }
}
.u-section-5 .u-sheet-1 {
  min-height: 107px;
}

.u-section-5 .u-pagination-1 {
  margin: 25px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-pagination-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 164px;
  }
}
